fastapi
uvicorn
langchain
langchain-core
langgraph
langchain-groq
geopandas
shapely
asyncpg
geoalchemy2
httpx
pydantic
pydantic-settings
python-dotenv
copernicusmarine
xarray
netCDF4
h5netcdf
cachetools
